.sidenav-li {
    color: #ccc;
    list-style-type: disc;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}

.sidenav-li li a {
    font-size: inherit;
    color: #000
}

.sidenav-li li a:hover {
    text-decoration: none;
    opacity: 0.5;
}

.sidenav-li li a:focus {
    text-decoration: none;
    opacity: 0.5;
}

.panel-profile-heading {
    background: #fff;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-title h2{
    margin: 0px 0px;
    padding: 15px;
}

.panel-profile-container {
     background-image: -webkit-linear-gradient(#f3f3f3,#fff 15px,#fff);
    background-image: linear-gradient(#f3f3f3,#fff 15px,#fff);
}


.heading-field {
    margin-bottom: 16px;
}

.heading-account-setting {
    margin-top: 0px;
}

.about-you {
    color: #F3AD12;
    margin-bottom: 5px;
}

.orange-cool-text {
    color: #F3AD12;
}

.submit-button {
    text-shadow: none;
    width: 100%;
}

.my-account {
    text-align: center;
    margin-top: 16px;
    color: #B8B8B8;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color:#B8B8B8;
    height: 1px;
}

.edit-button {
    font-size: 16px;
    float: right;
    color: #E53935;


    border: solid 1px #ccc;
    border-radius: 50%;
    padding: 8px;

}

.edit-button:hover {
    opacity: 0.7;
}

.table-container {
    width: 100%;
}